
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>



{% block title %}Lists of BOOKS{% endblock %}

{% block content %}

<p> ========================================================================= </p>
{% for items in books %}
<p> Title: {{ items.get_title }} </p>
<p> Publication Date: {{ items.get_pubDate }}</p>
<p> Edition: {{ items.get_edition }}</p>
<p> ISBN: {{ items.get_isbn }}</p>

<p> ========================================================================= </p>
{% endfor %}
{% endblock %}
</head>
<body>
